body {
  font-family: sans-serif;
  margin: 1em;
  background: #f7f9fa;
  color: #333;
}

h1 {
  text-align: center;
}

.stock {
  background: white;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

canvas {
  max-width: 100%;
}
